# DOMAIN_NAME and SUBDOMAIN combined decide where n8n will be reachable from
# Example: https://n8n.example.com
DOMAIN_NAME=your-domain.com
SUBDOMAIN=subdomain

# Optional timezone to set which gets used by Cron-Node by default
# If not set, New York time will be used
GENERIC_TIMEZONE=Europe/Kyiv

# Postgres settings
POSTGRES_USER=root
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=n8n
POSTGRES_NON_ROOT_USER=root
POSTGRES_NON_ROOT_PASSWORD=your_non_root_password

# n8n security settings
N8N_ENCRYPTION_KEY=your_encryption_key
N8N_USER_MANAGEMENT_JWT_SECRET=your_jwt_secret
N8N_BASIC_AUTH_USER=your_basic_auth_user
N8N_BASIC_AUTH_PASSWORD=your_basic_auth_password

# Qdrant API key
QDRANT_API_KEY=your_qdrant_api_key

# Image versions
POSTGRES_VERSION=16-alpine
N8N_VERSION=1.64.2
QDRANT_VERSION=latest
OLLAMA_VERSION=latest
